<!DOCTYPE html>

<head>
    <title>PSKP-21</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <div class="container">
        {{{body}}}
    </div>
    <script src="js/script.js"></script>
</body>

</html>