<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PSKP-20</title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>

    <div class="container d-flex align-items-start justify-content-between" style="margin-top: 4%;">
        <div class="row pb-2" style="width: 40%;">
            <button type="button" class="btn btn-success mt-2" id="get">GET</button>
            <button type="button" class="btn btn-info mt-2" id="post">POST</button>
            <button type="button" class="btn btn-warning mt-2" id="put">PUT</button>
            <button type="button" class="btn btn-danger mt-2 mb-2" id="delete">DELETE</button>

            <div class="form-group mt-4">
                <label for="id">Id</label>
                <input class="form-control" type="text" name="id" id="input_id">
            </div>

            <div class="form-group mt-2">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" id="input_name" required>
            </div>

            <div class="form-group mt-2">
                <label for="surname">Surname</label>
                <input class="form-control" type="text" name="surname" id="input_surname" required>
            </div>

            <div class="form-group mt-2">
                <label for="country">Country</label>
                <input class="form-control" type="text" name="country" id="input_country">
            </div>

            <div class="form-group mt-2">
                <label for="date_of_birth">Date of Birth</label>
                <input class="form-control" type="date" name="date_of_birth" id="input_date_of_birth">
            </div>
        </div>

        <pre id="result" class="mb-3 me-5" style="width: 50%;">{{{data}}}</pre>
    </div>



    <script>
        const baseUrl = '/author';
        const result = document.getElementById("result");



        $("#get").click(function get() {
            window.location.href = baseUrl;
        });



        $("#post").click(function create() {

            const data = {
                name: $("#input_name").val(),
                surname: $("#input_surname").val(),
                country: $("#input_country").val() != "" ? $("#input_country").val() : null,
                date_of_birth: $("#input_date_of_birth").val()
            }

            console.log(data.date_of_birth);

            if (data.name == '' || data.surname == '' || data.date_of_birth == '') {
                result.innerHTML = 'Enter name, surname and date_of_birth! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            }).then(res => {
                if (res.redirected) {
                    window.location.href = res.url;
                }
            });
        });



        $("#put").click(function put() {
            console.log('put')

            const data = {
                id: $("#input_id").val(),
                name: $("#input_name").val() != "" ? $("#input_name").val() : undefined,
                surname: $("#input_surname").val() != "" ? $("#input_surname").val() : undefined,
                country: $("#input_country").val() != "" ? $("#input_country").val() : undefined,
                date_of_birth: $("#input_date_of_birth").val() != "" ? $("#input_date_of_birth").val() : undefined
            }

            console.log({ data, });

            if (data.id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'PUT',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    console.log({ dto });
                    if (dto.name) {
                        console.log('name');
                        result.innerHTML = JSON.stringify(dto, null, 4);
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });



        $("#delete").click(function remove() {
            const id = $("#input_id").val() != "" ? $("#input_id").val() : undefined;

            if (id == undefined || id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(`${baseUrl}/${id}`, {
                method: 'DELETE',
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    console.log({ dto });
                    if (dto.name) {
                        console.log('name');
                        result.innerHTML = JSON.stringify(dto, null, 4);
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });

    </script>

</html>