<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PSKP-20</title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
    
    {{> header}}

    <div class="container d-flex align-items-start justify-content-between mt-4">
        <div class="row pb-2" style="width: 40%;">
            <button type="button" class="btn btn-success mt-2" id="get">GET</button>
            <button type="button" class="btn btn-info mt-2" id="post">POST</button>
            <button type="button" class="btn btn-warning mt-2" id="put">PUT</button>
            <button type="button" class="btn btn-danger mt-2 mb-2" id="delete">DELETE</button>

            <div class="form-group mt-4">
                <label for="id">Id</label>
                <input class="form-control" type="text" name="id" id="input_id">
            </div>

            <div class="form-group mt-2">
                <label for="company_name">Company Name</label>
                <input class="form-control" type="text" name="company_name" id="input_company_name" required>
            </div>

            <div class="form-group mt-2">
                <label for="address">Address</label>
                <input class="form-control" type="text" name="address" id="input_address">
            </div>

            <div class="form-group mt-2">
                <label for="phone">Phone Number</label>
                <input class="form-control" type="text" name="phone" id="input_phone">
            </div>
        </div>

        <pre id="result" class="mb-3 me-5" style="width: 50%;">{{{data}}}</pre>
    </div>



    <script>
        const baseUrl = '/customer';
        const result = document.getElementById("result");


        $("#get").click(function get() {
            window.location.href = baseUrl;
        });



        $("#post").click(function create() {
            const data = {
                company_name: $("#input_company_name").val(),
                address: $("#input_address").val() != "" ? $("#input_address").val() : null,
                phone: $("#input_phone").val() != "" ? $("#input_phone").val() : null
            }

            if (data.company_name == '') {
                result.innerHTML = 'Enter company_name! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.company_name) {
                        window.location.href = `${baseUrl}/${dto.id}`;
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });



        $("#put").click(function put() {
            const data = {
                id: $("#input_id").val(),
                company_name: $("#input_company_name").val() != "" ? $("#input_company_name").val() : undefined,
                address: $("#input_address").val() != "" ? $("#input_address").val() : undefined,
                phone: $("#input_phone").val() != "" ? $("#input_phone").val() : undefined
            }

            if (data.id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'PUT',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.company_name) {
                        window.location.href = `${baseUrl}/${dto.id}`;
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });



        $("#delete").click(function remove() {
            const id = $("#input_id").val() != "" ? $("#input_id").val() : undefined;

            if (id == undefined || id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(`${baseUrl}/${id}`, {
                method: 'DELETE',
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.company_name) {
                        result.innerHTML = JSON.stringify(dto, null, 4);
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });

    </script>

</html>