<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PSKP-20</title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>

    {{>header}}

    <div class="container d-flex align-items-start justify-content-between mt-4">
        <div class="row pb-2" style="width: 40%;">
            <button type="button" class="btn btn-success mt-2" id="get">GET</button>
            <button type="button" class="btn btn-info mt-2" id="post">POST</button>
            <button type="button" class="btn btn-warning mt-2" id="put">PUT</button>
            <button type="button" class="btn btn-danger mt-2 mb-2" id="delete">DELETE</button>

            <div class="form-group mt-4">
                <label for="id">Id</label>
                <input class="form-control" type="text" name="id" id="input_id">
            </div>

            <div class="form-group mt-2">
                <label for="book_id">Book Id</label>
                <input class="form-control" type="text" name="book_id" id="input_book_id">
            </div>

            <div class="form-group mt-2">
                <label for="customer_id">Customer Id</label>
                <input class="form-control" type="text" name="customer_id" id="input_customer_id">
            </div>

            <div class="form-group mt-2">
                <label for="order_date">Order Date</label>
                <input class="form-control" type="date" name="order_date" id="input_order_date">
            </div>

            <div class="form-group mt-2">
                <label for="qty">Quantity</label>
                <input class="form-control" type="number" name="qty" id="input_qty">
            </div>

            <div class="form-group mt-2">
                <label for="amount">Amount</label>
                <input class="form-control" type="number" step="0.01" name="amount" id="input_amount">
            </div>
        </div>

        <pre id="result" class="mb-3 me-5" style="width: 50%;">{{{data}}}</pre>
    </div>



    <script>
        const baseUrl = '/order';
        const result = document.getElementById("result");


        $("#get").click(function get() {
            window.location.href = baseUrl;
        });



        $("#post").click(function create() {
            const data = {
                book_id: $("#input_book_id").val(),
                customer_id: $("#input_customer_id").val(),
                order_date: $("#input_order_date").val(),
                qty: $("#input_qty").val(),
                amount: $("#input_amount").val(),
            }

            if (data.customer_id == '' || data.book_id == '' || data.order_date == '' || data.qty == '' || data.amount == '') {
                result.innerHTML = 'Fill all inputs! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.qty) {
                        window.location.href = `${baseUrl}/${dto.id}`;
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });



        $("#put").click(function put() {
            const data = {
                id: $("#input_id").val(),
                book_id: $("#input_book_id").val() != "" ? $("#input_book_id").val() : undefined,
                customer_id: $("#input_customer_id").val() != "" ? $("#input_customer_id").val() : undefined,
                order_date: $("#input_order_date").val() != "" ? $("#input_order_date").val() : undefined,
                qty: $("#input_qty").val() != "" ? $("#input_qty").val() : undefined,
                amount: $("#input_amount").val() != "" ? $("#input_amount").val() : undefined
            }

            if (data.id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'PUT',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.qty) {
                        window.location.href = `${baseUrl}/${dto.id}`;
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });



        $("#delete").click(function remove() {
            const id = $("#input_id").val() != "" ? $("#input_id").val() : undefined;

            if (id == undefined || id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(`${baseUrl}/${id}`, {
                method: 'DELETE',
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.qty) {
                        result.innerHTML = JSON.stringify(dto, null, 4);
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });

    </script>

</html>