<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PSKP-20</title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
    
    {{>header}}

    <div class="container d-flex align-items-start justify-content-between mt-4">
        <div class="row pb-2" style="width: 40%;">
            <button type="button" class="btn btn-success mt-2" id="get">GET</button>
            <button type="button" class="btn btn-info mt-2" id="post">POST</button>
            <button type="button" class="btn btn-warning mt-2" id="put">PUT</button>
            <button type="button" class="btn btn-danger mt-2 mb-2" id="delete">DELETE</button>

            <div class="form-group mt-4">
                <label for="id">Id</label>
                <input class="form-control" type="text" name="id" id="input_id">
            </div>

            <div class="form-group mt-2">
                <label for="author_id">Author Id</label>
                <input class="form-control" type="text" name="author_id" id="input_author_id" required>
            </div>

            <div class="form-group mt-2">
                <label for="title">Title</label>
                <input class="form-control" type="text" name="title" id="input_title" required>
            </div>

            <div class="form-group mt-2">
                <label for="pages">Pages</label>
                <input class="form-control" type="number" name="pages" id="input_pages">
            </div>
        </div>

        <pre id="result" class="mb-3 me-5" style="width: 50%;">{{{data}}}</pre>
    </div>



    <script>
        const baseUrl = '/book';
        const result = document.getElementById("result");


        $("#get").click(function get() {
            window.location.href = baseUrl;
        });



        $("#post").click(function create() {
            const data = {
                author_id: $("#input_author_id").val(),
                title: $("#input_title").val(),
                pages: Number($("#input_pages").val())
            }

            if (data.title == '' || data.author_id == '' || data.pages == '') {
                result.innerHTML = 'Enter title, author_id and pages! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'POST',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.title) {
                        window.location.href = `${baseUrl}/${dto.id}`;
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });



        $("#put").click(function put() {
            const data = {
                id: $("#input_id").val(),
                author_id: $("#input_author_id").val() != "" ? $("#input_author_id").val() : undefined,
                title: $("#input_title").val() != "" ? $("#input_title").val() : undefined,
                pages: $("#input_pages").val() != "" ? $("#input_pages").val() : undefined
            }

            if (data.id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(baseUrl, {
                method: 'PUT',
                body: JSON.stringify(data),
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.title) {
                        window.location.href = `${baseUrl}/${dto.id}`;
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });



        $("#delete").click(function remove() {
            const id = $("#input_id").val() != "" ? $("#input_id").val() : undefined;

            if (id == undefined || id == '') {
                result.innerHTML = 'Enter ID! Bitch!';
                return;
            }

            fetch(`${baseUrl}/${id}`, {
                method: 'DELETE',
                headers: { 'content-type': 'application/json' }
            })
                .then(response => response.json())
                .then(dto => {
                    if (dto.title) {
                        result.innerHTML = JSON.stringify(dto, null, 4);
                    } else {
                        result.innerHTML = dto.message;
                    }
                });
        });

    </script>

</html>